html {
    -webkit-font-smoothing: antialiased;
}

header {
    background-color: #fff;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.start {
    float: left;
    width: 100%;
    margin: 50px 0;
}

.wrapper {
    width: calc(100% - 100px);
    margin: 0 auto;
}

h1,
h2,
h3,
p,
a,
li {
    font-family: Helvetica Neue, Arial, sans-serif;
    color: #120453;
    font-weight: 400;
    line-height: 1.5em;
    text-decoration: none;
}



/*media queries*/

@media screen and (max-width: 600px) {
    .content-icons {
        width: 20px;
    }
    .social-media {
        width: 50%;
        height: auto;
    }
    .social-media a img {
        width: 20px;
        height: 20px;
    }
    .main img {
        max-width: 100% !important;
    }
    .iframe-container {
        width: 100% !important;
    }
    .responsive-iframe {
        position: fixed;
    }
}

@media screen and (max-width: 900px) {
    .wrapper {
        width: 85%;
    }

    .navigation {
        width: 85%;
        height: unset !important;
        z-index: 50;
    }

    .nav {
        top: -1rem !important;
        transform: none;
        -webkit-transform: none;
    }

    .nav ul li {
        margin-right: 30px;
        float: left;
    }

    .content-icons {
        bottom: unset;
        top: -1.5rem;
        right: 0;
    }

    .main {
        left: 0;
        width: 100%;
    }

    .main .wrapper {
        width: unset;
    }
}

@media screen and (max-width: 1200px) {
    .start .project {
        left: 50%;
    }
}


/*Navigation Portfolio*/

.navigation {
    float: left;
    position: fixed;
    height: calc(100vh - 100px);
}

.navigation a:hover {
    color: #ffe16b;
}

.nav {
    float: left;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.nav ul {
    padding: 0 0px;
    list-style: none;
}

.nav ul li {
    padding-bottom: 1rem;
}

.nav li a {
    font-size: 1rem;
    text-decoration: none;
    display: block;
    color: #ffbd24;
}

.navigation .nav li a:hover {
    color: #ffe16b;
}

.content-icons {
    float: left;
    position: absolute;
    bottom: 0;
}

.social-media a img {
    width: 26px;
    height: 26px;
    border: 0;
    padding: 0px;
}

.social-media a {
    padding: 5px;
}

.title h1,
h2,
h3 {
    text-align: left;
    font-family: Helvetica Neue, Arial, sans-serif;
    font-weight: 400;
    text-decoration: none;
    line-height: 1.5em;
    font-size: 1.5rem;
    color: #120453;
}

.title a {
    text-decoration: none;
}

.title h2 {
    font-family: Helvetica Neue, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: 1.8px;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin: 0px;
}

.title h3 {
    font-family: Helvetica Neue, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 1.0px;
    margin: 0;
}

/*main*/

.main {
    position: relative;
    float: left;
    width: 80%;
    z-index: 20;
    top: 80px;
    left: 20%;
}

.start .project {
    float: left;
    clear: both;
    margin-bottom: 50px;
    position: relative;
    left: 40%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 500px;
    /* height: 55vh; */
    padding-top: 56.25%;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.main img {
    /* float: left; */
    max-width: 500px;
    max-height: 55vh;
}

.project
p{
    clear: both;
    margin: 0;
    font-size: 14px;
    max-width: 100%;
    text-align: left;
    flex-direction: column;
    font-style: normal;
}

.project
a{
    clear: both;
    margin: 0;
    font-size: 14px;
    max-width: 100%;
    text-align: left;
    flex-direction: column;
    font-style: normal;
}

.project
h3 {
    margin: 18px 0 5px 0px;
    font-size: 1rem;
    font-style: italic;
    line-height: 1;
}

/*Thumbnails*/

.content {
    display: flex;
    justify-content: center;
}

.image {
    float: left;
    max-width: 500px;
    max-height: 55vh;
}

/*Dots*/


/*Navigation Dots*/

.container-navigation-dots {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 350;
    font-style: normal;
    line-height: 1.5;
    box-sizing: border-box;
    background-color: #fff;
    position: absolute;
    padding-right: 70px;
    padding-left: 70px;
    display: flex;
    justify-content: space-between;
}

.container-navigation-dots .logo img {
    width: 180px;
    height: 120px;
    display: flex;
    align-items: flex-end;
}

.container-navigation-dots .navigationDots {
    flex-direction: column;
    display: flex;
    width: 500px;
    margin-top: 3rem;
}

.container-navigation-dots .navigationDots ul {
    list-style: none;
    display: flex;
}

.container-navigation-dots .navigationDots li a {
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 350;
    font-style: normal;
    padding: 15px;
    color: rgb(0 0 0);
}

.container-navigation-dots .navigationDots li a:hover {
    background-color: blue;
    color: #fff;
}

.mainDots h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: 300;
    padding-left: 200px;
    padding-top: 12rem;
    padding-bottom: 20px;
    margin: 0px;
}

.mainDots h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding-left: 200px;
    padding-top: 25px;
    padding-bottom: 10px;
    margin: 0px;
}

.mainDots p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin: 0px;
    padding: 0px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 15px;
}

.Dokumentation {
    background-color: #fff;
    padding-bottom: 50px;
}

.Regelwerk {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin: 0px;
    padding: 0px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 15px;
}

.Reflexion p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin: 0px;
    padding: 0px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 15px;
}

.Ueber {
    background-color: #fff;
    padding-bottom: 50px;
}

.Ueber p a {
    text-decoration: underline;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
    color: rgb(0 0 0);
}

.video {
    padding-left: 25%;
}

.videoBeschreibung {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-top: 10px;
    padding-left: 4%;
}



/*footer*/

.footer {
    float: left;
    clear: both;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    position: relative;
    left: 40%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.footer p, a {
    float: left;
    padding: 5px 15px;
    clear: none;
    margin: 0;
}


/*Impressum*/

.Impressum {
    display: flex;
    justify-content: center;
}

.Impressum h1 {
    font-family: Helvetica Neue, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: 1.8px;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin: 0px;
}

.Impressum h2 {
    font-family: Helvetica Neue, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: 1.8px;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin: 0px;
}

.Impressum h3 {
    font-family: Helvetica Neue, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: 1.8px;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin: 0px;
}